<html>

<body>
    <table width=600 style="margin:0 auto;">
        <tbody>
            <tr>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Dear @{title} @{name}</p>

                                    <p>Please be informed that the Personal Data Protection Act 2010 ("PDPA") was introduced by the Government to regulate the processing of personal data in commercial transactions. The Act, which applies to all companies and firms that are established in Malaysia, requires us to inform you of your rights in respect of your personal data that is being processed or that is to be collected and further processed by us and the purposes for the data processing. The Act also required us to obtain your consent to the processing of your personal data.</p>
                                    <p>Consequently, we wish to inform you that the personal data and their information (collectively referred to as "Personal Data") previously provided in your registration/application form for purchased/rented of property, will likely continue to be, used and processed by Alpine Welly Sdn Bhd for the following purposes:</p>
                                    <ol style="list-style-type: lower-alpha;">
                                        <li>
                                            <p>to communicate, respond to your enquiries and provide services to you;</p>
                                        </li>
                                        <li>
                                            <p>to provide you with information on our new products and services of Alpine Welly Sdn Bhd by e‐mail, postal mail, telecommunication means (telephone calls, SMS messages or social chat applications) or internet social media;</p>
                                        </li>
                                        <li>
                                            <p>conduct internal activities, market surveys and trend analysis</p>
                                        </li>
                                    </ol>
                                    <p>For your information, your Personal Data will not be knowingly transferred to any place outside Malaysia or be knowingly disclosed to any third party for commercial or any other purposes.</p>

                                    <p>You may at any time hereinafter make written enquiries, request for correction of your Personal Data or limit the processing of your Personal Data by submitting such request to the Personal Data Protection Officer of Alpine Welly Sdn Bhd as follow :</p>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td valign="top" width="130">
                                                    Postal Address :
                                                </td>
                                                <td>
                                                    Personal Data Protection Officer
                                                    <br/> Alpine Welly Sdn Bhd
                                                    <br/> B-3A-5, Endah Promenade,
                                                    <br/> No.5, Jalan 3/149E,
                                                    <br/> Taman Sri Endah,
                                                    <br/> Sri Petaling,
                                                    <br/> 57000 Kuala Lumpur.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td valign="top" width="130">
                                                    Email Address :
                                                </td>
                                                <td>
                                                    <a href="mailto:marketing@alpina.com.my">marketing@alpina.com.my</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>

                                    <p>We trust that you will consent and agree to the terms above with respect to our processing of your Personal Data for enhancement of our service to you.</p>

                                    <p>Your Sincerely,</p>
                                    <p>Alpine Welly Sdn. Bhd.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>