<ul id="sidebar-nav" class="animated fadeInLeft">
    <li class="sidebar-brand">
        <a href="#">
            <img src='img/nav_logo@2x.png' class='img-responsive'>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.home">HOME</a>
        <div class='underline'></div>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.project">THE PROJECT</a>
        <div class='underline'></div>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.location">LOCATION</a>
        <div class='underline'></div>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.register">
            REGISTRATION
            <div class='underline'></div>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.contactus">CONTACT US</a>
        <div class='underline'></div>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="index.ebrochure">E BROCHURE</a>
        <div class='underline'></div>
    </li>
</ul>